.input__wrap {
  width: 33%;
}

.input__default {
  padding: 15px 13px;
  margin: 0rem 0rem;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 250ms ease-in-out;
}

::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.input__description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
  margin-bottom: 16px;
}

.input__label {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  color: #333;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input__default .input__focus {
  border: 1px solid #2962ff;
}

/******************************************************
   Input with icon
  ******************************************************/

span.material-icons {
  display: flex;
}

.input__icon_start .material-icons {
  margin-right: 5px;
}

.input__icon_end .material-icons {
  margin-left: 5px;
}

.input__icon_start,
.input__icon_end {
  display: flex;
}

span.material-icons .MuiSvgIcon-root {
  font-size: 20px;
}

/******************************************************
   Input Size
  ******************************************************/

/* Disabled error and fullwidth */

input:disabled {
  color: #f2f2f2;
  cursor: not-allowed;
  border: 1px solid #e0e0e0;
}

input:disabled:hover {
  background: none;
}
