.input__wrap {
  width: 33%;
  position: relative;
}

.input__wrap_fullwidth {
  width: 100%;
}

.input__default {
  padding: 15px 13px;
  margin: 0rem 0rem;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 250ms ease-in-out;
}

::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
}

.input__description {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 16px;
}

.input__label {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input__default .input__focus {
  border: 1px solid #2962ff;
}

.input__focus,
input:focus {
  border: 1px solid #2962ff;
}

.input__error {
  border: 1px solid #d32f2f;
}

.input__hover,
input:hover {
  border: 1px solid #333333;
}

.input__helper_text {
  font-size: 12px;
  line-height: 14px;
  display: block;
  margin-top: 5px;
}

.input__icon {
  padding: 5px;
  color: #828282;
  position: absolute;
  z-index: 1;
}

.start__icon {
  top: 65px;
  left: 5px;
}

.end__icon {
  top: 65px;
  right: 90px;
}

/******************************************************
   Input with icon
  ******************************************************/

.input__icon_start {
  padding-left: 40px;
}

.input__icon_end {
  padding-right: 40px;
}

/******************************************************
   Input Size
  ******************************************************/

.input__size-sm {
  padding: 10px 12px;
}

.input__size-md {
  padding: 15px 13px;
}

/* Disabled input */

input:disabled {
  color: #f2f2f2;
  cursor: not-allowed;
  border: 1px solid #e0e0e0;
}

input:disabled:hover {
  background: none;
}

/* Full width input */
.input__full_width {
  width: 100%;
}
