.button__default {
  border: none;
  padding: 8px 13px;
  margin: 1rem 0rem;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border-radius: 6px;
  transition: all 250ms ease-in-out;
}

.button__wrap {
  width: 33%;
}

.button__label {
  display: block;
  font-family: "Ubuntu Mono", monospace;
  color: #333333;
  font-size: 12px;
}

span.material-icons {
  display: flex;
}

.button__icon_start .material-icons {
  margin-right: 5px;
}

.button__icon_end .material-icons {
  margin-left: 5px;
}

.button__icon_start,
.button__icon_end {
  display: flex;
}

span.material-icons .MuiSvgIcon-root {
  font-size: 20px;
}

/******************************************************
 BUTTON COLORS
******************************************************/
.button__color-default {
  background: #e0e0e0;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  color: #3f3f3f;
}

.button__color-default:hover,
.button__color-default:focus,
.button__color-default.button__hover {
  background: #aeaeae;
}

.button__color-primary {
  background: #2962ff;
  box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
  color: #fff;
}

.button__color-primary:hover,
.button__color-primary:focus,
.button__color-primary.button__hover {
  background: #0039cb;
}

.button__color-secondary {
  background: #455a64;
  box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
  color: #fff;
}

.button__color-secondary:hover,
.button__color-secondary:focus,
.button__color-secondary.button__hover {
  background: #1c313a;
}

.button__color-danger {
  background: #d32f2f;
  box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
  color: #fff;
}

.button__color-danger:hover,
.button__color-danger:focus,
.button__color-danger.button__hover {
  background: #9a0007;
}

/******************************************************
 BUTTON VARIANT
******************************************************/
.button__variant-outline {
  border: 1px solid #3d5afe;
  color: #3d5afe;
  box-shadow: none;
  background: none;
}

.button__variant-outline:hover,
.button__variant-outline:focus,
.button__variant-outline.button__hover {
  background: rgba(41, 98, 255, 0.1);
}

.button__variant-text {
  color: #3d5afe;
  border: none;
  background: none;
  box-shadow: none;
}

.button__variant-text:hover,
.button__variant-text:focus,
.button__variant-text.button__hover {
  background: rgba(41, 98, 255, 0.1);
  border-radius: 6px;
}

/******************************************************
 BUTTON SIZE
******************************************************/

.button__size-sm {
  padding: 6px 12px;
}

.button__size-md {
  padding: 8px 16px;
}

.button__size-lg {
  padding: 11px 22px;
}

/* Disabled button and box shadow disable */

button:disabled {
  color: #9e9e9e;
  cursor: not-allowed;
}

button:disabled:hover {
  background: none;
}

.button__disableShadow {
  box-shadow: none;
}
