.home__header {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #4f4f4f;
}

.home__container a {
  color: #090f31;
  text-decoration: none;
  font-weight: bold;
}

.home__container p {
  color: #828282;
  margin-bottom: 2rem;
}

.home__container_components {
  display: flex;
  margin-top: 6rem;
}

.home__container_components li {
  list-style: none;
}

.home__container_components li a {
  font-size: 2rem;
  border: 3px solid #4f4f4f;
  padding: 50px;
  width: 100%;
  text-align: center;
  margin-right: 2rem;
  transition: all 0.5s;
}

.home__container_components li a:hover {
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
  .home__container_components {
    flex-direction: column;
  }

  .home__container_components li {
    width: auto;
    margin: 0 0 1rem;
    display: flex;
  }
  .home__container_components {
    margin-top: 0;
  }
}
