.button__container {
  max-width: 100%;
}

.button__header {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #4f4f4f;
}

.button__row {
  display: flex;
  margin-bottom: 2rem;
}
