.footer {
  font-family: Montserrat;
  padding: 3rem 0rem 1rem;
}

.footer__credits {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #828282;
  display: block;
  margin-bottom: 2rem;
}

.footer__credits a,
.footer__copyright a {
  color: #828282;
  text-decoration: none;
}

.footer__credits a:hover,
.footer__copyright a:hover {
  color: #090f31;
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #a9a9a9;
  display: block;
}
