.App {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}

.App__contents {
  flex: 1;
  padding: 4rem 8rem 0rem 8rem;
}

.Sidebar {
  background: #fafbfd;
  padding: 4rem;
}

.Sidebar ul {
  list-style: none;
  padding: 0;
}
.Sidebar ul li {
  margin: 25px;
}

.Sidebar ul li a {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #9e9e9e;
  text-decoration: none;
}

.Sidebar ul li a:hover,
.Sidebar ul li a:active {
  color: #090f31;
}

@media only screen and (max-width: 600px) {
  .Sidebar {
    display: none;
  }
}
